# Python
__pycache__/
*.pyc

# Virtual env
.venv/
ENV/

# Streamlit
.streamlit/secrets.toml
.streamlit/*.json

# Credentials
*.pem
*.key
*.crt
*.pfx
*.p12
*.json
.env
.env.*

# OS/editor
.DS_Store
.vscode/
